@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
  box-sizing: border-box;

}
body {
  margin: 0;

}

.scrollbar-shadow{
  /* width: 200px; */
    /* height: 200px; */
    position: relative;
}
.scroll-shadow{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* overflow-y: auto; */
} 

